<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo2.png" %>
    <% end %>

  <div>
  </div>
  <div class="nav-item pt-1 pr-2">
    <%= link_to "About us", about_us_path, class: "btn btn-outline-secondary align-middle button" %>
  </div>
</div>
