<div class="banner-wwd d-flex align-items-center">
    <div class="container text-center justify-content-center">
      <h1 class="font-weight-bold banner-1-h1 align-middle">HOW WE DO</h1>
    </div>
</div>
<section class="grid1">

  <div class="img1"></div>

  <div class="img2"></div>
  <div class="img3"></div>

  <div class="strapline">
    <blockquote>“Almost immediately, word spread of a Welshman who had built this incredible sounding sub bass system, and soon enough audiophiles began searching out these legendary subs that were built like no other.”</blockquote>
  </div>

  <div class="cta-wrapper">
    <div class="cta">
      <h1>Gibraltar</h1>
      <p>Introducing 212/SE, our most powerful and agile subwoofer, designed exclusively for larger systems and rooms to allow superior state of the art speakers to spring to full voice.</p>
      <a class="button" href="http://webdesign.tutsplus.com/tutorials/create-a-broken-grid-layout-using-css-grid--cms-30870">View Product Details →</a>
    </div>
  </div>

</section>
