.banner {
  padding-top: 0px;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 40px;
  height: 350px;
  width: 100%;
  font-family: "Courier New" !important;
}

#inner {
  display: table;
  margin: 0 auto;
}

#outer {
  width:100%
}

body{
  background-color: #313030;
  font-family: "Courier New" !important;
}


.banner-wwd {
  background-image: asset-url('gif_grapho.gif');
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  height: 220px;
  padding-top: 0px;
  width: auto;
  font-family: "Courier New";
}

.banner-1-h1{
  font-family: "Courier New" !important;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-d{
  width: 80%;
  align-content: center;
}

.about-us{
  font-family: "Courier New";
}
